@model ConnReq.Domain.Entities.RequestData
@{
    ViewBag.Title = "Регистрация заявки и формирование ответа";
}

<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-8">
        <section id="ResponceForm">
            @using (Html.BeginForm("Index", "Response", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.IncomingNum, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.IncomingNum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IncomingNum, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IncomingDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="date" value="@Model?.IncomingDate" name="IncomingDate" class="form-control" />

                        @* @Html.TextBoxFor(m => m.IncomingDate, "{0:dd/MM/yyyy}", new { @class = "form-control" }) *@
                        @Html.ValidationMessageFor(m => m.IncomingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ContractDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="date" value="@Model?.ContractDate" name="ContractDate" class="form-control" />

                        @* @Html.TextBoxFor(m => m.ContractDate, "{0:dd/MM/yyyy}", new { @class = "form-control" }) *@
                        @Html.ValidationMessageFor(m => m.ContractDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Remarks, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" })
                    </div>
                </div>
                @Html.TextBoxFor(m => m.Request, new { @hidden = "hidden" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Регистрировать" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>