@model ConnReq.Domain.Entities.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
}

<h2>@ViewBag.Title.</h2>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        <input type="submit" value="Войти" class="btn btn-primary" />
                    </div>
                </div>
            }
        </section>

    </div>
</div>
<p style="margin-top: 12px;">Заказчикам необходимо пройти регистрацию.</p>
<div class="d-grid gap-2 d-md-block">
    @Html.ActionLink("Регистрация", "Index", "Registration", null, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Изменить пароль", "ChangePwd", "Account", null, new { @class = "btn btn-outline-primary" })
</div>

<div id="loading"></div>
