@model ConnReq.WebUI.Models.FactoryList
@{
    ViewBag.Title = "Реестр поставщиков";
}
@section scripts{
    <environment include="Development">
        <script src="~/js/fixTable.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/fixTable.min.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
}
<h2>@ViewBag.Title</h2>
<div class="tableContainer">
    <table class="table table-bordered table-hover" id="fixTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Обслуживает</th>
                <th>ИНН</th>
                <th>EMail</th>
                <th>Сайт</th>
                <th>Руководитель</th>
                <th>Адрес</th>
                <th>Работает с</th>
                <th>Работает по</th>
                <th>Тепло</th>
                <th>Вода</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.FactoryItems)
            {
                <tr>
                    <td>@p.FactoryId</td>
                    <td>@p.Name</td>
                    <td>@p.TerritoryName</td>
                    <td>@p.INN</td>
                    <td>@p.EMail</td>
                    <td>@p.WebSite</td>
                    <td>@p.Chief</td>
                    <td>@p.Address</td>
                    <td>@p.Since</td>
                    <td>@p.Upto</td>
                    <td>@if (p.Warm) { @Html.Label("+")}</td>
                    <td>@if (p.Water) { @Html.Label("+")}</td>
                    <td>@Html.ActionLink("Изменить", "Edit","ProviderDetail",new { factory = p.FactoryId},new { @class= "btn btn-success" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button class="btn" style="margin-top: 15px;">
    @Html.ActionLink("Добавить", "Edit", "ProviderDetail", new { factory = 0 }, new { @class = "btn btn-primary" })
</button>
